<div class="signin-container">
  <div class="buffer local">
    <form name="signupform" novalidate="">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="user.name" name="nameField" required />
        <label>Phone</label>
        <input type="text" class="form-control" ng-model="user.phone" name="phoneField" required />
        <label>Email</label>
        <input type="email" class="form-control" ng-model="user.email" name="emailField" required />
      
      <div style="color:red" class="alert alert-warning" ng-show="signupform.emailField.$invalid&&signupform.emailField.$touched">Baaaad email, brah</div>
   
        <label>Password</label>
        <input type="password" class="form-control" ng-model="user.password" required />
        <label>Admin</label>
        <input style="display:inline" type="checkbox" ng-model="user.isAdmin" name="adminField" />
      </div>
      <button ng-disabled="signupform.$invalid" ng-click="signup(user)" type="submit" class="btn btn-block btn-primary">Sign Up</button>
    </form>
  </div>
  <div class="or buffer">
    <div class="back-line"><span>OR</span></div>
  </div>
  <div class="buffer oauth">
    <p><oauth-button provider-name="Google"></oauth-button></p>
    <p><oauth-button provider-name="Twitter"></oauth-button></p>
    <p><oauth-button provider-name="GitHub"></oauth-button></p>
  </div>
</div>
